{% extends 'pagarme/base.html.twig' %}

{% block body %}
    <nav>
        <a href="{{ path('vendas') }}" class="btn btn-aba">Vendas efetuadas</a>
    </nav>

    <form action="{{ path('finalizarPedido') }}" method="POST" enctype="multipart/form-data">
        <noscript>Habilite o JavaScript para conseguir completar sua compra.</noscript>
        
        <div class="abas">
            <section class="itens aba active">
                <h3>Selecione a data e as fantasias desejadas:</h3><br>

                <div>
                    <b>Data para locação:</b>
                    <select id="dataLocacao" name="dataLocacao">
                        {% for data in datas %}
                            <option value="{{ data }}">{{ data }}</option>
                        {% endfor %}
                    </select>
                </div>

                <small>* valor do frete: R$ <span class="frete">{{ frete.Valor | number_format(2, ',', '.') }}</span> (por item)</small>
                <ul>
                    {% for item in itens %}
                        <li class="fantasia">
                            <h2>{{ item.Fantasia }}</h2>
                            <input type="hidden" name="fantasia_{{ item.Id }}" value="{{ item.Id }}">

                            <div class="valor">
                                <b>Valor: </b>R$ <span class="somar">{{ item.Valor | number_format(2, ',', '.') }}</span>
                            </div>
                            
                            <div class="quantidade">
                                <b>Quantidade:</b>
                                <select id="qtdFantasia_{{ item.Id }}" name="qtdFantasia_{{ item.Id }}"></select>
                                <span class="esgotado hidden">Esgotado!</span>
                            </div>
                        </li>
                    {% endfor %}
                </ul>

                <div class="totalizador">
                    <h4>Total itens: R$ <span class="totalItens"></span> <small>(Qtd: <span class="qtdItens"></span></small>)</h4>
                    <h4>Total frete: R$ <span class="totalFrete"></span></h4>
                    <h3>Total: R$ <span class="totalPedido"></span></h3>
                </div>

                <button type="button" class="btn btn-aba trocarAba" data-target="checkout">Prosseguir</button>
            </section>
            <section class="checkout aba">
                <div class="checkout-section">
                    <h2>Informações pessoais</h2>
                
                    <div class="input-group">
                        <label for="nome">Nome:</label>
                        <input type="text" name="nome" id="nome" />
                    </div>
                    <div class="input-group">
                        <label for="email">E-mail:</label>
                        <input type="email" name="email" id="email" />
                    </div>
                    <div class="input-group">
                        <label for="cpf">CPF:</label>
                        <input type="text" name="cpf" id="cpf" class="cpf" maxlength="14" />
                    </div>
                    <div class="input-group">
                        <label for="dataNascimento">Data nascimento:</label>
                        <input type="text" name="dataNascimento" id="dataNascimento" class="data" />
                    </div>
                    <div class="input-group">
                        <label for="sexo">Sexo:</label>
                        <select name="sexo" id="sexo">
                            <option value="F">Feminino</option>
                            <option value="M">Masculino</option>
                        </select>
                    </div>
                    <div class="input-group">
                        <label for="celular">Celular:</label>
                        <input type="text" name="celular" id="celular" class="celular" maxlength="15" />
                    </div>
                </div>
                <div class="checkout-section">
                    <h2>Endereço</h2>
                    <div class="input-group">
                        <label for="endereco">Endereço:</label>
                        <input type="text" name="endereco" id="endereco" />
                    </div>
                    <div class="input-group">
                        <label for="numero">Número:</label>
                        <input type="text" name="numero" id="numero" maxlength="5" class="numeros" />
                    </div>
                    <div class="input-group">
                        <label for="bairro">Bairro:</label>
                        <input type="text" name="bairro" id="bairro" />
                    </div>
                    <div class="input-group">
                        <label for="cep">CEP:</label>
                        <input type="text" name="cep" id="cep" maxlength="9" class="cep" />
                    </div>
                    <div class="input-group">
                        <label for="estado">Estado:</label>
                        <select name="estado" id="estado">
                            <option value="Sao Paulo">São Paulo</option>
                        </select>
                    </div>
                    <div class="input-group">
                        <label for="cidade">Cidade:</label>
                        <select name="cidade" id="cidade">
                            <option value="Sao Paulo">São Paulo</option>
                            <option value="Santos">Santos</option>
                        </select>
                    </div>
                </div>
                <div class="checkout-section">
                    <h2>Cartão de crédito</h2>
                    <div class="input-group">
                        <label for="numeroCartao">Número do cartão:</label>
                        <input type="text" name="numeroCartao" id="numeroCartao" class="numeroCartao" maxlength="19" />
                    </div>
                    <div class="input-group">
                        <label for="nomeCartao">Nome no cartão:</label>
                        <input type="text" name="nomeCartao" id="nomeCartao" />
                    </div>
                    <div class="input-group">
                        <label for="expiracaoCartao">Expiração:</label>
                        <input type="text" name="expiracaoCartao" id="expiracaoCartao" class="expiracao" maxlength="7" />
                    </div>
                </div>
                <div class="checkout-section">
                    <button class="btn btn-concluir request">Enviar</button>
                    <img class="loader hidden" src="{{ asset('assets/img/loader.gif') }}" alt="Carregando..." />
                    <button type="button" class="btn btn-aba trocarAba" data-target="itens">Voltar</button>
                </div>
            </section>
        </div>
    </form>
{% endblock %}

{% block scripts %}
<script src="{{ asset('assets/js/vanilla-masker.js') }}"></script>
<script src="{{ asset('assets/js/script.js') }}"></script>
{% endblock %}