{% extends 'pagarme/base.html.twig' %}

{% block body %}
    <nav>
        <a href="{{ path("index") }}" class="btn btn-aba">Voltar</a>
    </nav>

    <table class="tabela-borda">
        <tr class="center">
            <th>Venda</th>
            <th>Total</th>
            <th>Data Locação</th>
            <th>Pago</th>
            <th>Itens</th>
        </tr>
        {% for venda in vendas %}
            <tr>
                <td class="center">{{ venda.Id }}</td>
                <td class="center">R$ {{ venda.ValorTotal | number_format(2, ',', '.') }}</td>
                <td class="center">{{ venda.VendaItem | first.DataLocacao | date("d/m/Y") }}</td>
                <td class="center">{{ (venda.Pago) ? "Sim" : "Não" }}</td>
                <td>
                    <ul>
                        {% for item in venda.VendaItem %}
                            <li>
                                <h3>{{ item.FornecedorItem.Fantasia }}</h3>
                                <small>Fornecedor: {{ item.FornecedorItem.Fornecedor.Nome }}</small>
                                <div class="detalhamento-itens">
                                    <b>Quantidade:</b> <span>{{ item.Quantidade }}</span> | 
                                    <b>Valor Itens:</b> <span>R$ {{ item.ValorItem | number_format(2, ',', '.') }}</span> | 
                                    <b>Frete:</b> <span>R$ {{ (item.ValorFrete.Valor * item.Quantidade) | number_format(2, ',', '.') }}</span> | 
                                    <b>Valor Final:</b> <span>R$ {{ (item.ValorItem + (item.ValorFrete.Valor * item.Quantidade)) | number_format(2, ',', '.') }}</span><br>

                                    {% for divisao in item.VendaDivisaoItem %}
                                        <div>
                                            <br>
                                            <b>Valor divido:</b> <span>R$ {{ divisao.Valor | number_format(2, ',', '.') }}</span><br>
                                            <b>Tipo:</b> 
                                            <span>
                                                {% set tipo = "" %}
                                                {% if divisao.FornecedorDivisao.Tipo == "%" %}
                                                    {% set tipo = (divisao.FornecedorDivisao.Valor | split(".")[0] )  ~ divisao.FornecedorDivisao.Tipo %}
                                                {% else %}
                                                    {% set tipo = divisao.FornecedorDivisao.Tipo %}
                                                {% endif %}
                                                {{ tipo }}
                                            </span><br>
                                            <b>Para:</b> <span>{{ divisao.FornecedorDivisao.FornecedorDestino.Nome | upper }}</span><br>

                                        </div>
                                    {% endfor %}
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}