* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: .5px;
}

body {
    padding: 15px;
}

nav {
    margin-bottom: 10px;
}

ul {
    list-style: none;
}

.hidden {
    display: none !important;
}

.abas section {
    display: none;
}

.abas section.active {
    display: block;
}

.fantasia {
    margin: 10px 0;
}

.fantasia h2 {
    margin-bottom: 10px;
}

.fantasia .valor {
    margin-bottom: 10px;
}

input, select {
    padding: 10px 5px;
    border-radius: 5px;
    border: 1px solid #bbb;
    font-size: 1rem;
}

.esgotado {
    color: red;
}

input:disabled,
select:disabled {
    cursor: not-allowed;
}

.totalizador {
    margin-bottom: 10px;
}

.btn {
    display: inline-block;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer;
}

.btn.btn-aba {
    background-color: #74adff;
}

.btn.btn-aba:not(:disabled):hover,
.btn.btn-aba:focus {
    background-color: #6495da;
}

.btn.btn-concluir {
    background-color: #78ce6d;
}

.btn.btn-concluir:not(:disabled):hover,
.btn.btn-concluir:focus {
    background-color: #6bb561;
}

.btn:disabled {
    background-color: #b7b7b7;
    cursor: not-allowed;
}

.checkout-section {
    margin-top: 15px;
}

.input-group {
    display: inline-block;
    width: 32%;
    margin-top: 10px;
}

.input-group label {
    display: block;
    font-size: 1rem;
}

.input-group input,
.input-group select {
    width: 90%;
}

.loader {
    position: relative;
    top: 10px;
}

.tabela-borda,
.tabela-borda tr,
.tabela-borda th,
.tabela-borda td {
    border: 1px solid #bbb;
}

.tabela-borda th,
.tabela-borda td {
    padding: 4px;
}

.center {
    text-align: center;
}

.detalhamento-itens {
    margin: 10px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #bdbdbd;
}

@media (max-width:991px) {
    .input-group {
        width: 49%;
    }
}

@media (max-width: 576px) {
    .input-group {
        width: 100%;
    }
} 